h5 > a {
  font-size: small;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spolfotka {
  height: 400px;
  margin-bottom: 10px;
  border-radius: 10%;
}
