@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

.menu__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #80aed1;
}

a {
  font-size: large;
  flex-basis: 10%;
  padding-bottom: 0;
}

.menu__link {
  background-color: #80aed1;
  /*flex-grow: 1;*/
  display: flex;
}

.menu__btn {
  border: none;
  background-color: #80aed1;
}

.menu__link:hover {
  background-color: #38b6ff;
}

a {
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}
