.footer {
  background-color: #80aed1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0%;
  margin-bottom: 0%;
  padding: 10px;
}

.footer__img {
  height: 3rem;
  width: 8rem;
}

.footer__email {
  display: flex;
  flex-direction: column;
}

h5 {
  margin-bottom: 0;
}
